.main {
    width: calc(100% - 4rem);
    margin-left: 4rem;
}

.head {
    width: 100%;
    background: linear-gradient(270deg, #241b5e, #000000);
    background-size: 400% 400%;
    -webkit-animation: AnimatedGradient 30s ease infinite;
    -moz-animation: AnimatedGradient 30s ease infinite;
    animation: AnimatedGradient 30s ease infinite;
    height: 20rem;
    margin-bottom: 8rem;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.head__user {
    position: absolute;
    left: 50%;
    bottom: -25%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.head__pfp {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.head__username {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    text-align: center;
}

.settings {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.settings__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.settings__subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.settings__article {
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.settings__label {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 0.4rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
}

.settings__input {
    width: 95%;
    padding: 0.2rem 0;
    margin-bottom: 1rem;
}

.settings__link {
    text-decoration: underline;
}


.settings__submit {
    width: 70%;
    height: 2.5rem;
    border-radius: 100px;
    border: 2px solid #000000;
    background-color: transparent;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.2rem;
    color: #000000;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    display: block;
}

.settings__submit:hover {
    color: white;
    background-color: black;
    font-weight: bold;
}

.preferences {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1px;
}

.preferences__option {
    color: #6b6b6b;
    border: 1px solid #6b6b6b;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    min-width: 30%;
    margin-bottom: .4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.preferences__option span {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.preferences__option--selected {
    color: #1db91d;
    border: 1px solid #1db91d;
}

@-webkit-keyframes AnimatedGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes AnimatedGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimatedGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
        margin-left: 0;
        margin-bottom: 4rem;
    }

    .head__user {
        width: 70%;
    }

    .head__username {
        font-size: 1.3rem;
    }

    .settings {
        padding: 0 1rem;
        grid-template-columns: repeat(auto-fill, minmax(95dvw, 1fr));
        gap: 2rem;
        padding-bottom: 4rem;
    }
}