.main {
    padding: 1rem 2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    display: block;
    margin: 0 auto;
}

.hero__image {
    background-image: url("../../images/catHeader.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 23rem;
    margin-bottom: 2rem;
}

.hero__title {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .hero {
        width: 95%;
    }

    .hero__image {
        height: 12rem;
    }

    .hero__title {
        font-size: 1.8rem;
    }
}