.main {
    padding: 1rem 2rem;
}

.hero {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.hero__image {
    background-image: url("../../images/catHeader.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 23rem;
    margin-bottom: 2rem;
}

.hero__title {
    font-size: 2.2em;
    font-weight: 700;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.partnership {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.partnership__prelude {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .3rem;
    margin-bottom: .5rem;
}

.partnership__title {
    font-family: 'Moul', sans-serif;
    font-size: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.buttons__container {
    display: grid;
    grid-template-columns: 250px 250px;
    row-gap: 1em;
    column-gap: 1em;

}

.buttons__button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 20px;
    border: 2px solid #ccc;
}

/* MEDIA QUERIES =========================================================================================================== */

@media screen and (max-width: 768px) {
    .hero {
        width: 100%;
    }

    .hero__image {
        height: 14rem;
    }

    .hero__title {
        font-size: 1.8rem;
    }
}