/* Footer standard styling.

This file is included by components.css

Created by: Renan Andrade, 2024/09/01 */

.header {
    width: calc(100% - 4rem);
    height: 4rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 3rem;
    right: 0;
    background-color: var(--main-theme-color);
}

.header--full {
    width: 100%;
    margin-left: 0;
}

.header__main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__title {
    font-weight: 700;
    font-size: 1.3rem;
}

.header__icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: .3rem;
    background-image: url('../../images/icons/paw_black.svg');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

.header__search {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.header__search span {
    font-size: 2rem;
}

.header__settings {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__settings span {
    font-size: 2rem;
}

/* MEDIA QUERIES =========================================================================================================== */

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        margin: 0;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 375px) {
    .header {
        justify-content: space-between;
    }

    .header__main {
        display: none;
    }
}